<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VehicleType</key>
	<array>
		<string>Sport</string>
		<string>Sedan</string>
		<string>SUV</string>
		<string>Hatchback</string>
	</array>
	<key>VehicleCategory</key>
	<array>
		<string>Family</string>
		<string>Race</string>
		<string>Normal</string>
	</array>
	<key>VehicleMake</key>
	<dict>
		<key>Renault Clio</key>
		<string>Car</string>
		<key>Mazda</key>
		<string>Car</string>
		<key>Honda</key>
		<string>Motorcycle</string>
		<key>Kawasaki</key>
		<string>Motorcycle</string>
		<key>BMW</key>
		<string>Car</string>
		<key>Lamborghini</key>
		<string>Car</string>
	</dict>
</dict>
</plist>
